{% extends "base_generic.html" %}
{% load static %} 
{% block styles %}
<link rel="stylesheet" href="{% static 'movie_app/index.css' %}">
{% endblock %}
{% block content %}
<!-- Sorting Links -->
<!-- <div>
    <a href="?sort_by=date_uploaded">Sort by Date</a> |
    <a href="?sort_by=rating">Sort by Rating</a> |
    <a href="?sort_by=year">Sort by Year</a>
</div> -->
<!-- Movies Grid -->
<h1>{% if genre %}Movies in {{ genre.name }}{% elif is_watch_later_view %}My Watch Later Movies{% endif %}</h1>
<div class="movies-grid">
    {% for movie in movies %}
    <div class="movie-item position-relative">
        <!-- Link the image to the detail page -->
        <a href="{% url 'detail' movie.pk %}" class="movie-link">
            <div class="movie-image-container">
                <img src="{{ movie.medium_cover_image }}" alt="{{ movie.title }}" class="movie-image">
                <div class="overlay">
                    <i class="bi bi-play-circle"></i> <!-- Play icon -->
                </div>
                <div class="movie-title">{{ movie.title }}</div>
            </div>
        </a>

        <!-- Red "X" Button -->
        {% if is_watch_later_view %}
        <button 
            class="remove-watch-later-btn btn btn-danger position-absolute top-0 end-0"
            data-movie-id="{{ movie.id }}" 
            title="Remove from Watch Later">
            &times;
        </button>
        {% endif %}
    </div>
    {% endfor %}
</div>


<!-- Pagination Links -->
<div class="pagination">
    <span class="step-links">
        <!-- First Page Link -->
        {% if page_obj.has_previous %}
            <a href="?page=1&sort_by={{ request.GET.sort_by }}">First</a>
        {% endif %}

        <!-- Previous 3 Pages -->
        {% for page_num in previous_pages %}
            <a href="?page={{ page_num }}&sort_by={{ request.GET.sort_by }}">{{ page_num }}</a>
        {% endfor %}

        <!-- Current Page -->
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        <!-- Next 3 Pages -->
        {% for page_num in next_pages %}
            <a href="?page={{ page_num }}&sort_by={{ request.GET.sort_by }}">{{ page_num }}</a>
        {% endfor %}


        <!-- Last Page Link -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.paginator.num_pages }}&sort_by={{ request.GET.sort_by }}">Last</a>
        {% endif %}
    </span>
</div>
<script src="{% static 'movie_app/index.js' %}"></script>
{% endblock %} <!-- Close the content block here -->