.position-relative {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.position-relative:hover .overlay {
    opacity: 1; /* Show overlay when hovering */
}

.bi-play-circle {
    font-size: 2rem;
    color: white;
}
