<!-- movie_app/templates/base_generic.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'movie_app/style.css' %}">
  <title>{% block title %}Movie Lover{% endblock %}</title>
  {% block styles %}{% endblock %}
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Home Link -->
      <a class="navbar-brand" href="{% url 'index' %}">Movie Lover</a>

      <!-- Navbar Toggler for mobile view -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Genres Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Genres
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for genre in genres %}
              <li><a class="dropdown-item" href="{% url 'movies_by_genre' genre_name=genre %}">{{ genre }}</a></li>
              {% endfor %}
          </ul>
          </li>

          <!-- Top-IMDb Link -->
          <li class="nav-item">
            <a class="nav-link" href="#">Top-IMDb</a>
          </li>
        </ul>

        <!-- Search Bar in the Center -->
        <form class="d-flex mx-auto" role="search">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search movies" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>

        <!-- User Profile Dropdown or Login/Signup -->
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                 <!-- Display username next to the icon -->
                 <span>{{ user.username }}</span> 
                 <i class="bi bi-person-circle fs-5 ms-2"></i> <!-- Person Circle Icon with left margin -->
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                  <li><a class="dropdown-item" href="#">Collections</a></li>
                  <li><a class="dropdown-item" href="{% url 'watch_later' %}">Watch Later</a></li>
                  <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
              </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
          </li>
          {% endif %}

        </ul>

      </div>
    </div>
  </nav>

  <!-- Content Area -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Movie Lover</p>
  </footer>

  <script src="{% static 'movie_app/my-script.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@webtor/embed-sdk-js/dist/index.min.js" charset="utf-8" async></script>
  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script>
    // Add CSRF token to every fetch request
    document.cookie.split("; ").forEach(function (cookie) {
      if (cookie.startsWith("csrftoken=")) {
        const csrfToken = cookie.split("=")[1];
        window.csrfToken = csrfToken;
      }
    });
  </script> -->

</body>

</html>